body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 420px) {
  .handleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mgTop {
    margin-top: 1em;
  }
}
